body, html {
  padding: 0;
  margin: 0;
}
body #app, html #app {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Muli", "Lato", sans-serif;
}
body #app #map, html #app #map {
  height: 100%;
  width: 100%;
}

.mapsettings {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 47;
}
.mapsettings.active {
  z-index: 478;
}
.mapsettings.active .mapsettingsbutton {
  background-color: steelblue;
  color: white;
}
.mapsettings.active .mapsettingsoptions {
  display: flex;
}
.mapsettings .mapsettingsbutton {
  cursor: pointer;
  padding: 6px 8px;
  background-color: rgba(255, 255, 255, 0.72);
  border-radius: 4px;
}
.mapsettings .mapsettingsbutton:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}
.mapsettings .mapsettingsbutton:hover {
  background-color: steelblue;
  color: white;
}
.mapsettings .mapsettingsoptions {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.72);
  padding: 12px 20px;
  border-radius: 4px;
  flex-direction: column;
}
.mapsettings .mapsettingsoptions:before {
  bottom: 100%;
  content: "";
  position: absolute;
  left: 10px;
  border-bottom: 12px solid rgba(255, 255, 255, 0.72);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.mapsettings .mapsettingsoptions .tiles {
  padding: 8px 0 10px 0;
}
.mapsettings .mapsettingsoptions .title {
  font-variant: small-caps;
}

.switch {
  display: inline-block;
  cursor: pointer;
  margin: 1px;
}
.switch .wrapper {
  display: flex;
}
.switch .wrapper .text {
  padding: 6px 16px;
  flex: 1 0 auto;
  transition: background-color 300ms, color 300ms;
  color: #404040;
  background-color: rgb(230, 230, 230);
  font-weight: 600;
}
.switch .wrapper .text:first-child {
  border-radius: 4px 0 0 4px;
}
.switch .wrapper .text:last-child {
  border-radius: 0 4px 4px 0;
}
.switch .wrapper .text.active {
  background-color: steelblue;
  color: white;
}
