<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Aarons Fire Map" />
	<title>Aarons Fire Map</title>

	<link rel="stylesheet" href="/_assets/index.css">
  <link rel="icon" href="/_assets/favicon.svg" />
	<link href="https://fonts.cdnfonts.com/css/muli" rel="stylesheet">

	<link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>

	<script src="https://unpkg.com/alpinejs" defer></script>
	<script
		src="https://unpkg.com/htmx.org@1.9.12"
		integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
		crossorigin="anonymous"
	></script>

	<script>
		let map

		const tileOpts = ['Satellite', 'Topo']

		const layerOptions = {
			'text-allow-overlap': true,
			'text-justify': 'center',
			'text-size': 22,
			'icon-allow-overlap': true,
		}

		function createIcon(color) {
			this.width = 60
			this.height = 60
			this.data = new Uint8Array(60 * 60 * 4)
			this.fill = color
			this.context = null

			this.onAdd = function() {
				const canvas = document.createElement('canvas')
				canvas.width = this.width
				canvas.height = this.height
				this.context = canvas.getContext('2d')
			}

			this.render = function() {
				const context = this.context

				context.clearRect(0, 0, this.width, this.height);

				// Full shape
				context.beginPath()
				context.moveTo(30, 60)
				context.lineTo(20, 50)
				context.arc(
					30,
					30,
					20,
					6 * Math.PI / 8,
					18 * Math.PI / 8
				)
				context.lineTo(30, 60)
				context.fillStyle = this.fill
				context.strokeStyle = 'white'
				context.lineWidth = 2
				context.fill()
				context.stroke()

				// Inner circle
				context.beginPath()
				context.arc(
					30,
					30,
					10,
					0,
					2 * Math.PI
				)
				context.fillStyle = 'rgba(255, 255, 255, 1)'
				context.fill()

				this.data = context.getImageData(
					0,
					0,
					this.width,
					this.height
				).data;

				// map.triggerRepaint();
				return true
			}
		}

		const blankIcon = new createIcon('#EE9143')
		const blankIconTwo = new createIcon('#EE9143')

		const toGeoJson = (arr = [], props = []) => {
			if (arr === null) {
				return {
					type: 'FeatureCollection',
					features: []
				}
			}

			const collection = {
				type: 'FeatureCollection',
				features: arr.map(a => {
					const splitter = a.name.split(' ')
					const display = splitter.length >= 2 ? `${splitter[0].charAt(0).toUpperCase()}${splitter[1].charAt(0).toUpperCase()}` :  `${splitter[0].charAt(0).toUpperCase()}${splitter[0].charAt(1).toLowerCase()}`

					return {
						type: 'Feature',
						geometry: {
							type: "Point",
							coordinates: [a.lng, a.lat]
						},
						properties: {
							type: a.type,
							mapdisplay: toMapDisplay(a.name),
							name: a.name,
							acres: a.acres,
						}
					}
				})
			}

			return collection
		}

		const getFires = async ({ n, e, w, s }) => {
			const q = `InitialLatitude%20>%20${s}%20AND%20InitialLatitude%20<%20${n}%20AND%20InitialLongitude%20<%20${e}%20AND%20InitialLongitude%20>%20${w}`

			const _url = `https://services3.arcgis.com/T4QMspbfLg3qTGWY/ArcGIS/rest/services/WFIGS_Incident_Locations_Current/FeatureServer/0/query?where=${q}&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&resultType=standard&distance=0.0&units=esriSRUnit_Meter&relationParam=&returnGeodetic=false&outFields=IncidentName%2CDiscoveryAcres%2CPercentContained%2CFinalAcres%2CIncidentSize%2CIncidentTypeKind%2CIncidentTypeCategory%2CFireCause&returnGeometry=true&featureEncoding=esriDefault&multipatchOption=xyFootprint&maxAllowableOffset=&geometryPrecision=&outSR=&defaultSR=&datumTransformation=&applyVCSProjection=false&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&returnQueryGeometry=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&returnZ=true&returnM=true&returnExceededLimitFeatures=true&quantizationParameters=&sqlFormat=standard&f=pgeojson&token=`

			const _post = await fetch(_url, {
				method: "GET",
				mode: 'cors'
			})

			const r = await _post.json()

			return r
		}

		const getPerimeters = async ({ n, e, w, s, zoom }) => {
			let q = `attr_InitialLatitude%20>%20${s}%20AND%20attr_InitialLatitude%20<%20${n}%20AND%20attr_InitialLongitude%20<%20${e}%20AND%20attr_InitialLongitude%20>%20${w}`

			if (zoom < 7) {
				const acres = (-12.5 * zoom) + 100
				q = `${q}%20AND%20attr_CalculatedAcres%20>%20${acres}`
			} else {
				q = `${q}%20AND%20attr_CalculatedAcres%20>%201`
			}

			const _url = `https://services3.arcgis.com/T4QMspbfLg3qTGWY/ArcGIS/rest/services/WFIGS_Interagency_Perimeters_YearToDate/FeatureServer/0/query?where=${q}&objectIds=&time=&geometry=&geometryType=esriGeometryPolygon&inSR=&spatialRel=esriSpatialRelIntersects&resultType=none&distance=0.0&units=esriSRUnit_Meter&relationParam=&returnGeodetic=false&outFields=&returnGeometry=true&returnCentroid=false&featureEncoding=esriDefault&multipatchOption=xyFootprint&maxAllowableOffset=&geometryPrecision=&outSR=&defaultSR=&datumTransformation=&applyVCSProjection=false&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&returnQueryGeometry=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&returnZ=false&returnM=false&returnExceededLimitFeatures=true&quantizationParameters=&sqlFormat=standard&f=pgeojson&token=`

			const _post = await fetch(_url, {
				method: "GET",
				mode: 'cors'
			})

			const r = await _post.json()

			return r
		}

		htmx.onLoad(function(content) {
			const moveBounds = async () => {
				if (!map || !map.isStyleLoaded()) {
					return
				}

				const zoom = map.getZoom()
				const bounds = map.getBounds()
				
				const n = bounds._ne.lat
				const e = bounds._ne.lng
				const w = bounds._sw.lng
				const s = bounds._sw.lat

				let [apiFires, apiPerimeters] = await Promise.all([
					getFires({ n, e, w, s }),
					getPerimeters({ n, e, w, s, zoom }),
				])

				let firesSource = map.getSource('fires')

				if (firesSource) {
					firesSource.setData(apiFires)
				}

				let perSource = map.getSource('perimeters')

				if (perSource) {
					perSource.setData(apiPerimeters)
				}

			}

			const loadMapLayers = () => {
				// Atmosphere
				map.addLayer({
					'id': 'sky',
					'type': 'sky',
					'paint': {
						'sky-type': 'atmosphere',
						'sky-atmosphere-sun': [0.0, 0.0],
						'sky-atmosphere-sun-intensity': 15
					}
				})

				// Add terrain
				map.addSource('mapbox-dem', {
					'type': 'raster-dem',
					'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
					'tileSize': 512,
					'maxzoom': 14
				});
				map.setTerrain({ 'source': 'mapbox-dem', 'exaggeration': 1.6 });
				
				// Fires
				map.addSource('fires', {
					type: 'geojson',
					data: toGeoJson([])
				})

				map.addImage('blank-icon', blankIcon)
				map.addImage('blank-icon-two', blankIconTwo)

				map.addLayer({
					id: 'fires',
					type: 'symbol',
					source: 'fires',
					layout: {
						...layerOptions,
						'icon-image': 'blank-icon-two',
					}
				})

				map.on('click', 'fires', (e) => {
					// Copy coordinates array.
					const fire = e.features[0].properties
					const coordinates = e.features[0].geometry.coordinates.slice()

					while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
						coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360
					}

					new mapboxgl.Popup()
						.setLngLat(coordinates)
						.setHTML(`
							<strong>${fire.IncidentName}</strong>
							<div>${fire.FireCause}</div>
							<div>${fire.IncidentSize?.toLocaleString("en-US") || 0} Acres</div>
							<div>${fire.PercentContained?.toLocaleString("en-US") || 0} % Contained</div>
						`)
						.addTo(map)
				})

				// Perimeters
				map.addSource('perimeters', {
					type: 'geojson',
					data: {}
				})

				map.addLayer({
					id: 'perimeters',
					type: 'fill',
					source: 'perimeters', // reference the data source
					layout: {},
					paint: {
						'fill-color': '#ff8000', // blue color fill
						'fill-opacity': 0.5
					}
				})

				setTimeout(() => {
					moveBounds()
				}, 200)
			}
			
			// Mapbox
			mapboxgl.accessToken = 'pk.eyJ1IjoiYW1pbmVzNzEzIiwiYSI6ImNrbmdyY2ZkdDBkaDkydnMzM2FzamFyaGIifQ.Nr7mYTWpC_2X6ax5FuKKbg'
			map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/streets-v9',
				// style: 'mapbox://styles/mapbox/outdoors-v11',
				// style: 'mapbox://styles/mapbox/satellite-streets-v12',
				zoom: 5,
				center: [-114,48]
			})

			// map.setProjection({
			//   name: 'lambertConformalConic',
			//   center: [-100, 40],
			//   parallels: [26,90]
			// });

			map.addControl(new mapboxgl.NavigationControl())

			map.on('moveend', () => {
				moveBounds()
			})

			map.on('zoomend', () => {
				moveBounds()
			})

			map.on('mouseenter', 'fires', () => {
				map.getCanvas().style.cursor = 'pointer'
			})
			 
			map.on('mouseleave', 'fires', () => {
				map.getCanvas().style.cursor = ''
			})

			map.on('style.load', () => {
				const waiting = () => {
					if (!map.isStyleLoaded()) {
						setTimeout(waiting, 100)
					} else {

						loadMapLayers()
					}
				}

				waiting()
			})
		})

		const clickTile = (t) => {
			if (!map) {
		    return
		  }

		  const style = map.getStyle().name
			switch (t) {
		    case "Satellite": {
		      if (style !== "Mapbox Satellite") {
		        map.setStyle("mapbox://styles/mapbox/satellite-v9")
		        // map.setStyle("mapbox://styles/mapbox/satellite-streets-v11")
		      }
		      break 
		    }

		    case "Topo": {
		      if (style !== "Mapbox Outdoors") {
		        map.setStyle("mapbox://styles/mapbox/outdoors-v11")
		      }
		      break
		    }
		  }
		}
	</script>
	{% block head %}{% endblock %}
</head>
	<body>
		{% block content %}<p>Fire Map</p>{% endblock %}
	</body>
</html>
