<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<div id="app" x-data="{ tiles: 'Topo' }">
  <div id="map"></div>

  <div class="mapsettings" x-data="{ active: false }" x-bind:class="active ? 'active' : ''">
    <div class="mapsettingsbutton" title="Map Settings" @click="active = !active">Map Settings</div>

    <div class="mapsettingsoptions">
      <div class="title">Imagery</div>
      <div class="tiles">
        <div class="switch">
          <div class="wrapper">
            <template x-for="t in tileOpts">
              <div @click = "clickTile(t); tiles = t" x-text="t" x-bind:class="t === tiles ? 'text active' : 'text'"></div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}