body, html {
	padding: 0;
	margin: 0;
	#app {
		height: 100vh;
		width: 100vw;
		position: relative;
		font-family: 'Muli', 'Lato', sans-serif;
		#map {
			height: 100%;
			width: 100%;
		}
	}
}

.mapsettings {
	position: absolute;
	top: 14px;
	left: 14px;
	z-index: 47;
	&.active {
		z-index: 478;
		.mapsettingsbutton {
			background-color: steelblue;
			color: white;
		}
		.mapsettingsoptions {
			display: flex;
		}
	}
	.mapsettingsbutton {
		cursor: pointer;
		padding: 6px 8px;
		background-color: rgba(255, 255, 255, 0.72);
		border-radius: 4px;
		&:after {
			display: block;
			content: attr(title);
			font-weight: bold;
			height: 1px;
			color: transparent;
			overflow: hidden;
			visibility: hidden;
		}
		&:hover {
			background-color: steelblue;
			color: white;
		}
	}
	.mapsettingsoptions {
		display: none;
		position: absolute;
		top: 42px;
		left: 0;
		background-color: rgba(255, 255, 255, 0.72);
		padding: 12px 20px;
		border-radius: 4px;
		flex-direction: column;
		&:before {
			bottom: 100%;
			content: '';
			position: absolute;
			left: 10px;
			border-bottom: 12px solid rgba(255, 255, 255, 0.72);
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
		}
		.tiles {
			padding: 8px 0 10px 0;
		}
		.title {
			font-variant: small-caps;
		}
	}
}

.switch {
	display: inline-block;
	cursor: pointer;
	margin: 1px ;
	.wrapper {
		display: flex;
		.text {
			padding: 6px 16px;
			flex: 1 0 auto;
			transition: background-color 300ms, color 300ms;
			color: lighten(black, 25%);
			background-color: rgb(230, 230, 230);
			font-weight: 600;
			&:first-child {
				border-radius: 4px 0 0 4px;
			}
			&:last-child {
				border-radius: 0 4px 4px 0;
			}
			&.active {
				background-color: steelblue;
				color: white;
			}
		}
	}
}
